
body {
  margin:0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
  width: 100%;
  color: transparent;
  white-space: nowrap;
  position: relative;
}

h1:before {
  content: 'Datavisualisation';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  text-indent: 0;
  color: white;
}

h1:hover {
  animation: show .8s linear forwards;
}

@keyframes show {
  93% {
    color: transparent;
  }
  94% {
    color: white;
  }
  100% {
    color: white;
  }
}

h1:hover:before {
  animation: texte .8s linear forwards;
}

@keyframes show {
  93% {
    color: transparent;
  }
  94% {
    color: white;
  }
  100% {
    color: white;
  }
}

h1:hover:before {
  animation: texte .8s linear forwards;
}

@keyframes texte {
  0% {
    content: '4@,3SAscAi;9,bT4';
  }
  10% {
    content: '$R6?4dSj{qS<7Yh7';
  }
  20% {
    content: '+BDs73f;[u3^4Lgg';
  }
  30% {
    content: '{qS<7Yh7+BDs73f;';
  }
  50% {
    content: 'Ai;9,bT4$R6?4dSj';
  }
  60% {
    content: '[o3^4LggAi;9,bT4';
  }
  70% {
    content: 'qoj4BWy-?4dSj{qS';
  }
  80% {
    content: 'DanQ5Tye4LggAi;s';
  }
  90% {
    content: 'Da3a4<vicAi;su,bT';
  }
  100% {
    content: '';
  }
}


article{
  height: 250px;
  margin: auto;
  padding-top: 50px;
}

.little-text{
  width: 80%;
}

.color{
  background-color: rgb(135,206,235);
  opacity: 0.9;
}


h2{
  text-align: center;
  margin: 0;
  padding-top: 10vw;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
  margin: auto;
}

.container, .container-bar{
  padding-top: 70px;
  width: 80vw;
  margin: auto;
}
.container{
  height: 400px;
}
.container-bar{
  height: 250px;
}
.white{
  color: white;
}
nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  #logo{
    margin-top: 30px;
    width: 10%;
    img{
      filter: invert(100%);
      width: 60px;
      height: 60px;
    }
}
ul{
  display: flex;
  margin-left: 16%;
  margin-top: 40px;
  .menu-item {
    position: relative;
    list-style: none;
    padding-left: 25px;
    padding-right: 35px;
    
    a{
      font-family: 'Lato', sans-serif;
      text-decoration: none;
      color: #eeeeee;
      font-size: 24px;
    }
    .underline {
      position: absolute;
      top: 30px;
      bottom: 0;
      left: 15px;
      height: 2px;
      width: 10%;
      transition: width 0.3s ease-in-out;
      background-color: #fff;
    }
    
  }
}
.menu-item:hover .underline {
  width: 80%;
}
}





header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color: white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-4px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position: relative;
  // height: 20vh;
  // text-align: center;
}  

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}




/* animation titre */

#title {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  text-align: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */

footer{
  background-color: black;
  height: 100px;
}

.mcp{
  display: flex;
  justify-content: space-between;
}
.footer{
  margin-top: 40px;
}
@media screen and (max-width: 850px) {


  header{
    position: relative;
    text-align: justify;
  }
  #logo{
    z-index: 2;
    margin-left: 20px;
  }
  .burger{
    top: 50px;
    width: 42px;
    height: 24px;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.burger span{
    height: 4px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}
.burger span::before, .burger span::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}
.burger span::before{
    transform: translateY(-10px);
}
.burger span::after{
    transform: translateY(10px);
}
.burger.close span{
    background-color: transparent;
    left: 0;
}
.burger.close span::before{
    transform: translateY(0px) rotate(45deg);
}
.burger.close span::after{
    transform: translateY(0px) rotate(-45deg);
}


.menu{
  top: 0;
  left: 0;
  position: relative;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center; 
  align-items: center;
  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -200%;
    transition: margin 1s;
    visibility: hidden;
  }
  &.open{
    height: 100vh;
    position: absolute;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);;
    visibility: visible;
    z-index: 1;
    ul{
      margin: 0;
      visibility: visible;
      li{
        margin: 30px 0px;
        .underline{
          display: none;
        }
        a{
          font-size: 1.6rem;
          transition: font-size 0.5s;
        }
        a:hover{
          cursor: pointer;
          font-size: 1.8rem;
        }
    }
  }
}
}

.container-bar{
  height: 250px;
}

.container{
  height: 400px;
}
}

@media (min-width: 1100px) and (max-width: 1200px) {

 nav ul{
    margin-left: 30%;
  }
  
}

@media screen and (min-width: 1200px) {
  
  nav ul{
    margin-left: 40%;
  }
}